# PostgreSQL Container Credentials
POSTGRES_DB=course_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here
POSTGRES_PORT=5432

# Spring Datasource Configurations
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/course_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=your_password_here